@{
    ViewBag.Title = "Home Page";
}

<h1>Student Management Committee Election</h1>

<p>
    What type of committee is your kind of committee? <img src="~/Content/images/voting.png" style="float: right; padding: 1em 0 1em 1em;" />
    Calling all students!Yearly, committees come and go, but their contributions lasts.Have you thought about  who to vote for?
    we welcome you to this webiste where you browse the profiles of the candidiates and who to vote for!
</p>
